@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('img/bg.png');
}

.player-side, .computer-side {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.game-result {
    border-radius: 10px;
    background: linear-gradient(#555, #777);
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.game-result p {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.game-result p:nth-child(2) {
    text-align: center;
}

.game-result p:first-child {
    text-align: left;
}

.game-result p:last-child {
    text-align: right;
}

.game-result p:first-child, .game-result p:last-child {
    width: 300px;
}

.hand-tile {
    width: 300px;
    border: 5px solid blue;
    border-radius: 20px;
    transition-duration: 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hand-tile img {
    transition-duration: 0.5s;
}

.hand-tile img {
    width: 280px;
}


.selectable {
    cursor: pointer;
}

.selectable:hover {
    border: 5px solid green;
}

.selectable:hover img {
    scale: 1.1;
}

