@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('img/bg.png');
}

.player-side {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.player-choice {
    width: 300px;
    border: 5px solid blue;
    border-radius: 20px;
    transition-duration: 0.5s;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-choice img {
    transition-duration: 0.5s;
}

.player-choice:hover {
    border: 5px solid green;
}

.player-choice:hover img {
    scale: 1.1;
}

.player-choice img {
    width: 280px;
}